---
name: Reusable workflow for markdownlint and shellcheck

on:  # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      config-file:
        required: true
        type: string

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6
      - name: Run markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v3
        with:
          # config_file: .markdownlintrc
          config_file: ${{ inputs.config-file }}
          files: .

  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Run shellcheck
        uses: Azbagheri/shell-linter@latest
